.deco-none {
    color: inherit;
    text-decoration: inherit;
  }
  
.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}

.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

.enc-evt{
    background-repeat: no-repeat;  
    background-size: cover; 
    background-position: center;
    border-radius: 10px; 
    position: relative;
    
}

.recbco
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-weight: 600;
    color: black;
}

.card{
    margin-bottom: 20px;
}

.respneg{
    text-shadow: 0px 0px 10px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
}

.fgr{
    font-weight: 600;
}

.flexh{
    display: flex !important;
    margin-bottom: 15px;
}

.hor{
    width: 60%;
}

.btnres{
    width: 40%;
}

.tit-rck{
    font-family: "RocknRoll One", Sans-serif;
    font-size: 2em;
}

.nav-men{
    display: flex;
}

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 6rem !important;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 20rem;
    background: #000;
    color: white;
    background-position: center;
    background-size: cover;
  }
  
  
  .containerz{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
  }
  
  .overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  .card-img-top{
      min-height: 300px;
  }

  .cont-func{
      position: relative;
      background-color: white;
      border-radius: 4px;
      padding: 5px;
      color: #404040;
  }

  .cont-btn{
    /*position: absolute;
    top: 12px;
    right: 12px;*/
    text-align: center;
  }

  @media (min-width: 800px) {
    .cont-btn{
        position: absolute;
        top: 12px;
        right: 12px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}